.definition {
    background-image: url(../Home/bg.png);
    height: 100vh;
    color: white;
  }
  
  .overlay {
    background-image: url(../Home/bg.png);
  }
  
  .defcontainer {
    display: block;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .contents {
    box-shadow: 0em 0em 1em #8aaea264;
    background: linear-gradient(to bottom right, #93deff, black);
    display: flex;
    flex-direction: column;
    align-items: left; /* Center horizontally */
    justify-content: center; /* Center vertically */
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    max-width: 81vh;
    height: 50px;
    margin: 0 auto; /* Center horizontally */
  }
  
  .word {
    text-align: left;
    display: flex;
    align-items: center;
  }
  
  .playaudio {
    background-color: #212121;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .play {
    margin-left: 10px;
    background-color: #212121;
    height: 35px;
    width: 35px;
    border-radius: 5px;
    color: white;
  }

  .play:hover {
    cursor: pointer;
  }
  
  .defback,
  .defbookm {
    background-color: #212121;
    border-radius: 5px;
    margin-left: 10px;
    width: 35px;
    height: 35px;
    cursor: pointer;
  }
  
  .details {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .detail0 {
    margin-top: 10px;
    padding: 10px;
    background: #53535f, 0.5;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0em 0em 1em #8aaea264;
  }
  
  .detail0:hover {
    border: 2px solid rgba(255, 255, 255, 0.16);
  }
  
  .detail0:focus {
    border: 2px solid black;
    background-color: black;
  }
  
  .word {
    text-transform: capitalize;
  }
  
  .not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
