.definition {
    background-image: url(../Home/bg.png);
    height: 100vh;
    color: white;
  }
  
  .overlay {
    background-image: url(../Home/bg.png);
  }
  
  .defcontainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
  }
  
  .contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .word {
    text-align: left;
    display: flex;
    align-items: center;
  }
  
  .playaudio {
    background-color: #212121;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .play {
    background-color: #212121;
    height: 100px;
    width: 100px;
    border-radius: 5px;
    color: white;
  }
  
  .defback,
  .defbookm {
    color: white;
  }
  
  .details {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  .detail0 {
    padding: 10px;
    margin: 10px auto;
    background: #53535f, 0.5;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0em 0em 1em #8aaea264;
  }
  
  .detail0:hover {
    border: 2px solid rgba(255, 255, 255, 0.16);
  }
  
  .detail0:focus {
    border: 2px solid black;
    background-color: black;
  }
  
  .word {
    text-transform: capitalize;
  }
  
  .loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: 100vh;
    margin-left: 100vh;
  }
  
  .not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .playaudio img {
    width: 20px;
    height: 20px;
    filter: invert(100%);
  }
  
