 
  .about {
    background-image: url(./bg.png);
    height: 100vh;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .column {
    width: calc(25% - 1em); 
    flex: 25%;
    padding: 10px;
    max-width: 300px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  h1 {
    width: 100%;
    text-align: center;
    font-size: 3.5em;
    color: #f7f6f8;
  }
  
  .card {
    box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);
    padding: 3.5em 1em;
    
    border-radius: 0.6em;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    background-color: #212121;
    width: 100%; 
    margin-bottom: 1em; 
  }
  
  .card .img-container {
    width: 8em;
    height: 8em;
    background-color: #c6dce5;
    padding: 0.5em;
    border-radius: 50%;
    margin: 0 auto 2em auto;
  }
  
  .card img {
    width: 100%;
    border-radius: 50%;
  }
  
  .card h3 {
    font-weight: 500;
  }
  
  .card p {
    font-weight: 300;
    margin: 0.5em 0 2em 0;
    letter-spacing: 2px;
  }
  
  .icons {
    width: 50%;
    min-width: 180px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  
  .card a {
    text-decoration: none;
    color: inherit;
    font-size: 1.4em;
  }
  
  .card:hover {
    background: linear-gradient(#93deff, #494a4a);
    color: #ffffff;
  }
  
  .card:hover .img-container {
    transform: scale(1.15);
  }
  
  @media screen and (max-width: 768px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

.auback {
  width: 35px;
  margin-top: 50px;
  margin-left: 50px;
}

.auback:hover {
  cursor: pointer;
}
