.logo {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
  height: 200px;
}

.container {
    background-color: #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./bg.png);
    height: 100vh;
}

.items {
    display: flex;
    color: whitesmoke;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #212121;
    border-radius: 20px;
    box-shadow: 0em 1em 3em #beecdc64;
    width: 500px;
    height: 500px;
    max-width: 50vh;
}

.caption {
    margin-top: 10px;
    text-align: center;
    padding-bottom: 30px;
}

.searchinput {
    max-width: 200px;
    height: 150%;
    outline: none;
    font-size: 15px;
    font-weight: 500;
    background-color: #53535f;
    caret-color: #f7f7f8;
    color: #fff;
    padding: 9px 50px;
    border: 2px solid transparent;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    margin-right: 1px;
    transition: all .2s ease;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-left: 10px;
}

.searchinput:hover {
    border: 2px solid rgba(255, 255, 255, 0.16);
}

.searchinput:focus {
    border: 2px solid #93deff;
    background-color: #0e0e10;
  }

.label {
    color: white;
}

.searchicon {
    color: white;
}

.bmicon {
    margin-top: 10px;
    background-color: #53535f;
    color: #212121;
    width: 35px;
    height: 35px;
    border-radius: 7px;
    max-width: 500px;
    align-items: center;
    margin-bottom: 10px;
    border: none;
}

.bmicon {
    width: 55px;
    height: 55px;
    align-items: center;
    background-color: transparent;
}

.bmicon:hover {
  background-color: rgba(54, 54, 56, 1);
}

.search__btn {
    margin-top: 20px;
    border: none;
    cursor: pointer;
    background-color: rgba(42, 42, 45, 1);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    height: 100%;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150%;
    margin-bottom: 30px;
  }
  
  .search__btn:hover {
    background-color: rgba(54, 54, 56, 1);
  }

  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
  }

  .search_icon {
    color: white;
    width: 30px;
  }

  .toabout {
    color: #93deff;
  }

.items img {
    background-image: url(./logo-0.png);
}
.container {
    background-color: #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./bg.png);
    height: 100vh;
}

.items {
    display: flex;
    color: whitesmoke;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #212121;
    border-radius: 20px;
    box-shadow: 0em 1em 3em #beecdc64;
    width: 500px;
    height: 480px;
}

.caption {
    margin-top: 10px;
    text-align: center;
}

.searchinput {
    margin-top: 20px;
    max-width: 190px;
    height: 100%;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    background-color: #53535f;
    caret-color: #f7f7f8;
    color: #fff;
    padding: 7px 10px;
    border: 2px solid transparent;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    margin-right: 1px;
    transition: all .2s ease;

    
}

.searchinput:hover {
    border: 2px solid rgba(255, 255, 255, 0.16);
}

.searchinput:focus {
    border: 2px solid #93deff;
    background-color: #0e0e10;
  }

.label {
    color: white;
}

.searchicon {
    color: white;
}

.bmicon {
    color: black;
    margin-top: 5px;
    background-color: #93deff;
    width: 45px;
    border-radius: 5px;
    height: 45px;
    margin-top: 10px;

}

.search__btn {
    margin-top: 20px;
    border: none;
    cursor: pointer;
    background-color: rgba(42, 42, 45, 1);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    height: 100%;
    width: 30px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search__btn:hover {
    background-color: rgba(54, 54, 56, 1);
  }

  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
  }

  .search_icon {
    color: white;
  }

  .toabout {
    color: #93deff;
  }

  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
  font-family: Roboto;
}

section {
  width: 100%;
  display: inline-block;
  background: #ccc;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}
.footer-distributed {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  text-align: center;
  font: normal 16px sans-serif;
  padding: 15px 50px;
  color: #8f9296;
}

.footer-distributed p {
  margin: 0;
}

.footer-distributed p.footer-links {
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 10px;
  padding: 0;
}

.footer-distributed p.footer-links a {
  display: inline-block;
  margin: 0 5px;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-right {
  float: none;
  margin-top: 10px;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition: all .25s;
}

.footer-distributed .footer-right a:hover {
  transform: scale(1.1);
}

.footer-distributed p.footer-links a:hover {
  text-decoration: underline;
}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    margin: 0 auto 20px;
  }
}
